.container {
  display: flex;
  height:100vh;
  align-content: center;
  /* justify-content: center; */
  flex-wrap:wrap;
}

.box {
  width:25vw;
  /* flex:1; */
}
.box2 {
  width:50vw;
  /* flex:2; */
}

.form_body {
  /* width:60vw; */
  padding:20px;
  border:1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)
}

.formElement {
  border-radius:4px;
  padding:5px;
  /* border:5px; */
}

.formDiv {
  padding:10px;
}
