.formElement{
  float: auto;
  margin: 0 auto;
  padding: 20px;
}

.form_body{
  padding-left: 10px;
  padding-top: 10px;
  background-color: powderblue;
}

div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
